name: Fedora build
on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 4"

jobs:
  fedora:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # last two EOL releases -> rawhide
        release:
#          - 39 (flint is still < 3, so need arb, etc. -- is it worth it?)
          - 40
          - 41
          - 42
          - 43
          - 44
    steps:
      - uses: actions/checkout@v6
        with:
          repository: Macaulay2/M2
          ref: development
      - name: Build RPM
        run: |
          cd M2/BUILD/rpm
          make rpm DISTRIBUTION=fedora RELEASE=${{ matrix.release }}
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: fedora-${{ matrix.release }}-artifacts
          path: |
            M2/BUILD/rpm/rpmbuild-*/BUILD/Macaulay2-*/M2/config.log
            M2/BUILD/rpm/rpmbuild-*/BUILD/Macaulay2-*/M2/libraries/*/build/*/config.log
            M2/BUILD/rpm/rpmbuild-*/BUILD/Macaulay2-*/M2/usr-dist/common/share/doc/Macaulay2/*/example-output/*.errors
            M2/BUILD/rpm/rpmbuild-*/RPMS/*/*.rpm
